@model IList<mvc_crud.Models.DB.Contato>

@{
    ViewData["Title"] = "Contatos";
}

<a asp-action="Novo">Contato novo</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
        </tr>
    </thead>
    <tbody>
@foreach (mvc_crud.Models.DB.Contato contato in Model)
{
      <tr>
            <td>@Html.DisplayFor(modelContato => contato.Id)</td>
              <td>@Html.DisplayFor(modelContato => contato.Nome)</td>
                <td>@Html.DisplayFor(modelContato => contato.Email)</td>
                  <td>@Html.DisplayFor(modelContato => contato.Telefone)</td>       
        </tr>   
}
   
    </tbody>
</table>