@model mvc_crud.Models.DB.Contato

@{
    ViewData["Title"] = "Novo Contato";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Novo">
                <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" type="text" />
                </div>
                <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" type="text" />
                </div>
                <div class="form-group">
                <label asp-for="Telefone" class="control-label">Telefone</label>
                <input asp-for="Telefone" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary">
                </div>                
        </form>
    </div>
</div>