@model IList<mvc_crud.Models.DB.Carro>

@{
    ViewData["Title"] = "Carros";
}

<a asp-action="Novo">Carro novo</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Marca</th>
            <th>Modelo</th>
            <th>AnoLancamento</th>
            <th>AnoMontagem</th>
            <th>Chassis</th>
        </tr>
    </thead>
    <tbody>
@foreach (mvc_crud.Models.DB.Carro carro in Model)
{
      <tr>
            <td>@Html.DisplayFor(modelCarro => carro.Id)</td>
              <td>@Html.DisplayFor(modelCarro => carro.Marca)</td>
                <td>@Html.DisplayFor(modelCarro => carro.Modelo)</td>
                  <td>@Html.DisplayFor(modelCarro => carro.AnoLancamento)</td>
                    <td>@Html.DisplayFor(modelCarro => carro.AnoMontagem)</td>
                      <td>@Html.DisplayFor(modelCarro => carro.Chassis)</td>

       
        </tr>   
}
   
    </tbody>
</table>