@model mvc_crud.Models.DB.Carro

@{
    ViewData["Title"] = "Novo Carro";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Novo">
                <div class="form-group">
                <label asp-for="Marca" class="control-label">Marca</label>
                <input asp-for="Marca" class="form-control" type="text" />
                </div>
                <div class="form-group">
                <label asp-for="Modelo" class="control-label">Modelo</label>
                <input asp-for="Modelo" class="form-control" type="text" />
                </div>
                <div class="form-group">
                <label asp-for="AnoLancamento" class="control-label">AnoLancamento</label>
                <input asp-for="AnoLancamento" class="form-control" type="text" />
                </div>
                <div class="form-group">
                <label asp-for="AnoMontagem" class="control-label">AnoMontagem</label>
                <input asp-for="AnoMontagem" class="form-control" type="text" />
                </div>
                <div class="form-group">
                <label asp-for="Chassis" class="control-label">Chassis</label>
                <input asp-for="Chassis" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary">
                </div>                
        </form>
    </div>
</div>