@model IList<mvc_crud.Models.DB.Produto>

@{
    ViewData["Title"] = "Produtos";
}

<a asp-action="Novo">Produto novo</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Valor</th>
            <th>Estoque</th>
        </tr>
    </thead>
    <tbody>
@foreach (mvc_crud.Models.DB.Produto produto in Model)
{
      <tr>
            <td>@Html.DisplayFor(modelProduto => produto.Id)</td>
              <td>@Html.DisplayFor(modelProduto => produto.Nome)</td>
                <td>@Html.DisplayFor(modelProduto => produto.Valor)</td>
                  <td>@Html.DisplayFor(modelProduto => produto.Estoque)</td>       
        </tr>   
}
   
    </tbody>
</table>