@model mvc_crud.Models.DB.Produto

@{
    ViewData["Title"] = "Novo Produto";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Novo">
                <div class="form-group">
                <label asp-for="Nome" class="control-label">Nome</label>
                <input asp-for="Nome" class="form-control" type="text" />
                </div>
                <div class="form-group">
                <label asp-for="Valor" class="control-label">Valor</label>
                <input asp-for="Valor" class="form-control" type="text" />
                </div>
                <div class="form-group">
                <label asp-for="Estoque" class="control-label">Estoque</label>
                <input asp-for="Estoque" class="form-control" type="text" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Criar" class="btn btn-primary">
                </div>                
        </form>
    </div>
</div>